body {
    margin: 10px;
    border: 1px solid gray;
}

header, footer {
    clear: left;
    text-align: center;
    margin:5px;
    border-bottom: 1px solid black;
}

nav {
    float: center;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
    display: block;
    padding: 5px;
    width: 4em;
    margin: 5px;
    border:1px solid black;
    background: black;
    color: white;
}

main {
    float: left;
    border-left: 1px solid gray; 
    padding: 1em;
}
