<head>
    <meta charset="UTF-8" />
    <title>Vote 3.0</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        var socket;
        var ar;

        $(function() {

            socket = new WebSocket("ws://cslinux.utm.utoronto.ca:10751"); //PORT + 1
            //socket = new WebSocket("ws://localhost:10751");
            socket.onopen = function(event) {
                $('#sendButton').removeAttr('disabled');
                console.log("connected");
            };
            socket.onclose = function(event) {
                alert("closed code:" + event.code + " reason:" + event.reason + " wasClean:" + event.wasClean);
            };

            socket.onmessage = function(event) {  //When u receive the messaage from broadcast
                ar = JSON.parse(event.data);
                document.getElementById("nocount").innerHTML = ar[0]; //set the table val to that
                document.getElementById("ycount").innerHTML = ar[1];
            };

        });
        $(document).ready(function() {
            $("#btnsignin").click(function() {

                var user = $("#username").val(); //gets username value
                var pass = $("#password").val();

                var request = $.ajax({
                    url: "/users/", //static url from express
                    type: "GET",
                    data: {
                        user: user,
                        pass: pass
                    },
                });
                request.done(function(msg) {
                    if(msg == "please try again") { //NO NEED TO PARSE
                        alert("Invalid username/password");
                    }
                    else {
                        $("#logind").hide();
                        $("#vote").show();
                        $("#header").show();
                        getvote();
                    }

                });
                request.fail(function(jqXHR, textStatus) {
                    alert("Request failed: " + textStatus);
                });
            });

            $("#btnvote").click(function() {

                var check = 'vote';
                var vuser = $("#username").val(); //Get the original username

                if(document.getElementById("roley").checked == true) {  //HOW TO CHECK WITH RADIO IS CLICKED
                  var answer = "1";  //if roley is checked make answer 1
                }
                else {
                  var answer = "0";
                }
                var request = $.ajax({
                    url: "/vote/",
                    method: "GET",
                    data: {
                        answer: answer,
                        vuser: vuser,
                    },
                });

                request.done(function(msg) {
                    $("#vote").show();
                    document.getElementById('roley').checked = false; //unclicks the option
                    document.getElementById('rolen').checked = false; //unclicks the option
                    getvote(); //updates table

                });
                request.fail(function(jqXHR, textStatus) {
                    document.getElementById('roley').checked = false; //unclicks the option
                    document.getElementById('rolen').checked = false; //unclicks the option
                    alert("Request failed: " + textStatus);
                });
            });

          }); //CLOSES DOCUMENT READY

          function getvote() {
              var check = "getvote";
              var request = $.ajax({
                  url: "/getvote/",
                  method: "GET",
              });

              request.done(function(msg) {
                  $("#vote").show();
                  socket.send(JSON.stringify(msg)); //sends a stringified version to broadcast

              });

              request.fail(function(jqXHR, textStatus) {
                  alert("Request failed: " + textStatus);
              });

          }

        </script>
        </head>
        <div id="my">
        <body bgcolor="ffffff">
        <center>
        <div style="display:block;" id="logind">
        <h1 style="color:red;">Vote 3.0</h1>

        <h3 align="center">Login</h3>
        <hr>
        <form >
            <p class="userpass"> <label for="username">Username:</label> <input type="text" id="username"></input> </p>
            <p class="userpass"> <label for="password">Password:</label> <input type="password" id="password"></input> </p>
        </form>

        <button id="btnsignin" type="submit" class="button">Login</button>  <!-- AJAX GOTTA USE BUTTONS!! -->

        </div>
        <div style="display:none;" id="header">
          <header><h1 align="center">Class Vote</h1></header>
          <!-- HEADINGS ON TOP, LOOK AT CSS TO SEE HOW IT HOVERS -->
          <div class="categories" align="center">
              <a id="logout">Logout</a>
              </div>
          <hr>

        </div>

        <div style="display:none;" id="vote">
        <form align="center">
        		<p> <label for="role"><p style="color:red"><?php echo $_SESSION['user'] ?> preference for extension</p></label>
        			<input type="radio" id="roley" value="yes">No DURR!!</input>
        		</br>
        			<input type="radio" id="rolen" value="no">I'm a nerd</input>
        		</p>
        </form>
          <button id="btnvote" type="submit" class="button">Submit vote!</button>
        </br>
        <hr>

        <div style="display:block;" id="votediv">
        <h2 align="center">Current Votes</h2>
        <table align="center" border="1" id="votetable">
          <!-- //TABLE THAT HAS TWO COLUMNS SO IT CAN AUTO FILL -->
          <tr>
          <td>Yes</td>
          <td id="ycount"> </td>
          </tr>
          <tr>
          <td>No</td>
          <td id="nocount"> </td>
          </tr>
        </table>
        </div>
        </div>
        </div>
        </html>
