@-webkit-keyframes backgroundScroll {
	from {
		background-position: 0 0;
	}
	to {
	background-position: -400px 0;}
}

.button {
	background-color: blue; /* Green */
	border: 1px solid black;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.userpass, #ask h1, #logind > h2, #welcome h1, #registerd h1{/*all titles*/
	font-family: "Noto Sans CJK KR";
	color: #FFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#logind, #registerd, #welcome{
	position:fixed;
	top: 50%;
	left: 50%;
	width:30em;
	height:18em;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -15em; /*set to a negative number 1/2 of your width*/
	border: 1px solid #ccc;
}
#logind > h1{
	
	font-family: 'VT323', monospace;
	color: black;
	text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
}
#ask p, #registerd p{
	font-family: "Noto Sans CJK KR";
	color: #fff8cc;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#my{
	background-image: url("house.jpg");
	background-repeat: repeat-x;
	-webkit-animation: backgroundScroll 15s linear infinite;
	animation: backgroundScroll 15s linear infinite;
	background-size:100%;
	width: 100%;
	height: 100%;
}

#btnsignin{
	color: #FFF;
	background-color: #EA4E4E;
}
#btntback{
	color: #FFF;
	background-color: #EA4E4E;
}
#btnsignup {
	color: #FFF;
	background-color: #1EAAC2;
}
#btnregister{
	color: #FFF;
	background-color: #1EAAC2;
}
#btcprofile{
	color: #FFF;
	background-color: #26867C;
}
#btdelete{
	color: #FFF;
	background-color: #721100;
}
#btsignout{
	color: #FFF;
	background-color: #EA4E4E;
	padding-top: 10px;
}
#btgameplay{
	color: #FFF;
	background-color: #2EBF2E;
}
#btprofile{
	color: #FFF;
}
#tr{
	border: 1px solid #ccc;
	width: 100%;
	height: 100%;
	background-color: #d2b48c;
	padding-top: 10%;
}

#highscorediv{
	height: 50px;
	width: 300px;
	vertical-align: center;
	position: relative;
}
#highscorediv table{
	border-collapse: collapse;
	width: 100%;
	position: relative;
	margin-left: 500px;
	padding-top: 200px;
}
#highscorediv th, td {
	text-align: left;
	padding: 8px;
}
#highscorediv tr:nth-child(even){
	font-family: "Noto Sans CJK KR";
	background-color: #A89070;
	opacity: 10;
	
}
#highscorediv tr:nth-child(odd){
	font-family: "Noto Sans CJK KR";
	background-color: #D2B48C;
}


table {
	border: 1px solid black;
}

#highscorediv h2 {
	font-family: "Noto Sans CJK KR";
	color: #FFF;
	margin-left: 600px;
	padding-top:200px;
	
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}